<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <passwordPolicies>
    <add key="PreviousPwdsToCheck" value="6" Message="password cannot be the same as the last {0} passwords."/>
    <add key="Length" value="8" Message="password must be at least {0} characters."/>
    <add key="SymbolChars" value="1" Message="password must include at least {0} symbol character(s)."/>
    <add key="UppercaseChars" value="1" Message="password must include at least {0} uppercase letter(s)."/>
    <add key="LowercaseChars" value="1" Message="password must include at least {0} lowercase latter(s)."/>
    <add key="NumberChars" value="1" Message="password must include at least {0} number(s)."/>
  </passwordPolicies>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
