<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="security">
      <section name="passwordPolicy" type="System.Configuration.SingleTagSectionHandler"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BBCn" connectionString="data source=.\SQL2014;initial catalog=BiddyandBearDb;UID=BBUser;pwd=BBPassword;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_IManageOrders" maxReceivedMessageSize="655360"/>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="BB.Implementation.BBService">
        <endpoint name="BBService" address="BBService.svc" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_IManageOrders" contract="BB.ServiceContracts.IManageOrders"/>
      </service>
    </services>
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <security>
    <passwordPolicy>
      <add key="CheckPreviousPasswords" value="false"/>
      <add key="Length" value="8" Message="password must be at least {0} characters."/>
      <add key="symbol" value="1" Message="password must include at least {0} symbol character(s)."/>
      <add key="uppercase" value="1" Message="password must include at least {0} uppercase letter(s)."/>
      <add key="lowercase" value="1" Message="password must include at least {0} lowercase latter(s)."/>
      <add key="number" value="1" Message="password must include at least {0} number(s)."/>
    </passwordPolicy>
  </security>
</configuration>