<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <configSections>
    <sectionGroup name="security">
      <section name="passwordPolicy" type="System.Configuration.SingleTagSectionHandler"/>
    </sectionGroup>
  </configSections>
  <security>
    <passwordPolicy>
      <add key="CheckPreviousPasswords" value="false"/>
      <add key="Length" value="8" Message="password must be at least {0} characters."/>
      <add key="symbol" value="1" Message="password must include at least {0} symbol character(s)."/>
      <add key="uppercase" value="1" Message="password must include at least {0} uppercase letter(s)."/>
      <add key="lowercase" value="1" Message="password must include at least {0} lowercase latter(s)."/>
      <add key="number" value="1" Message="password must include at least {0} number(s)."/>
    </passwordPolicy>
  </security>
  <appSettings/>
</configuration>